
* {
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}
.navigation {
  background-color: white;
  width: 100%;
}
nav {
  max-width: 1000px;
  margin: 0 auto;
  background-color: white;
}
ul.navBar {
  padding: 0px;
  margin-top: 16px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hamburger .line{
  width: 50px;
  height: 5px;
  background-color: black;
  display: block;
  margin: 8px auto;
  transition: all 0.3s ease-in-out;
}
.hamburger:hover{
  cursor: pointer;
}
.is-active{
  transform: rotate(90deg);
}
.is-active .line:nth-child(2){
  transition: none;
}
.is-active .line:nth-child(2){
  transition-delay: 0.3s;
}
.is-active .line:nth-child(2){
  opacity: 0;
}
.is-active .line:nth-child(1),
.is-active .line:nth-child(3){
  width: 35px;
  transform-origin: right;
}
.is-active .line:nth-child(1){
  transform: translateY(15px) rotate(45deg);
}
.is-active .line:nth-child(3){
  transform: translateY(-15px) rotate(-45deg);
}
.headingOne {
  font-family: 'Cormorant Garamond', serif;
  font-size: 30px;
  font-weight: bold;
  padding: 0px 10px 0px 0px;
}
.headingOne:hover {
  text-decoration: line-through;
  transition: all 0.55s ease-in-out;
}
/* slide in menu */
.menu {
  background-color: white;
  top: 0;
  height: 400px;
  width: 200px;
  opacity: 1;
  border-right: 1px solid grey;
  padding: 15px 30px;
  position: fixed;
  transition: all 0.55s ease-in-out;
  transform: translateY(-200%);
  z-index: 10;
}
.menu-open {
  transform: translateX(0%) translateY(19%);
  opacity: 1;
}
.menu a {
  color: black;
  font-family: 'Cormorant Garamond', serif;
  display: block;
  font-size: 20px;
  margin: 25px auto;
  text-align: left;
  text-decoration: none;
}
.menu a:hover {
  display: block;
  font-size: 20px;
  margin: 25px auto;
  text-align: center;
  text-decoration: line-through;
  transition: all 0.55s ease-in-out;
}
.feelgood {
  text-align: center;
  max-width: 1000px;
  display: block;
  margin: 0 auto;
  padding: 0px 0px 10px 0px;
}
/* Main Content */
.maincontent {
  width: 100%;
  background-color: #F5F5F5;
}
main {
  max-width: 1000px;
  margin: 0 auto;
  /* height: 100%; */
  padding: 20px 0 0 0;
}
.about-info {
  display: flex;
	background: #fff;
	/* margin: 4em auto; */
	width: 100%;
	max-width: 700px;
	border-radius: 5px;
}
aside {
		position: relative;
}
aside img {
  border-radius: 5px;
  height: 500px;
  width: 500px
  padding: 100px;
}
article {
		padding: 0 0 0 1.5em;
}
h2, h3 {
		/* margin: 0; */
    font-family: 'Cormorant Garamond', serif;
}
h2 {
		font-size: em(28);
		color: #222222;
}
h3 {
		font-size: em(15);
		color: #838689;
}
p {
		margin: 1.25em 0;
    font-family: 'Lato', sans-serif;
		font-size: em(13);
		font-weight: 300;
		color: #222222;
}
footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 1000px;
  margin: 0 auto;
  font-weight: bold;
}
footer img {
  height: 40px;
  width: 40px;
  padding: 10px;
}
